/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #fff; }

.title {
  padding: 20px 30px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center; }

.title2 {
  padding: 20px 30px;
  font-size: 2rem;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center; }

.section {
  padding: 30px;
  max-width: 600px;
  margin: auto; }

.title3 {
  font-size: 1.6rem;
  margin: 0 0 30px; }

.text {
  margin: 0 0 30px;
  line-height: 1.7; }

.list {
  -js-display: flex;
  display: flex;
  width: 100%;
  margin: 0 0 30px;
  background: #ddd; }

.list__child {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .list__child:nth-of-type(1) {
    background: red; }
  .list__child:nth-of-type(2) {
    background: peru; }
  .list__child:nth-of-type(3) {
    background: greenyellow; }
  .list__child:nth-of-type(4) {
    background: cyan; }
  .list__child:nth-of-type(5) {
    background: blueviolet; }
  .list__child:nth-of-type(6) {
    background: deeppink; }
  .list__child:nth-of-type(7) {
    background: yellow; }
  .list__child:nth-of-type(8) {
    background: tomato; }
  .list__child:nth-of-type(9) {
    background: gold; }
  .list__child:nth-of-type(10) {
    background: lightgrey; }
  .list__child:nth-of-type(11) {
    background: dodgerblue; }
  .list__child:nth-of-type(12) {
    background: lime; }

.section.align .list__child {
  width: auto;
  height: auto;
  padding: 40px; }
  .section.align .list__child:nth-child(1) {
    font-size: 1rem; }
  .section.align .list__child:nth-child(2) {
    font-size: 4rem; }
  .section.align .list__child:nth-child(3) {
    font-size: 3rem; }
  .section.align .list__child:nth-child(4) {
    font-size: 7rem; }

.w100 {
  width: 100px !important; }

.w200 {
  width: 200px !important; }

.h300 {
  height: 300px !important; }

.h400 {
  height: 400px !important; }

.h500 {
  height: 500px !important; }

.direction--row {
  flex-direction: row; }

.direction--column {
  flex-direction: column; }

.direction--row-reverse {
  flex-direction: row-reverse; }

.direction--column-reverse {
  flex-direction: column-reverse; }

.wrap--nowrap {
  flex-wrap: nowrap; }

.wrap--wrap {
  flex-wrap: wrap; }

.wrap--wrap-reverse {
  flex-wrap: wrap-reverse; }

.flow--column-wrap {
  flex-flow: column wrap; }

.justify--flex-start {
  justify-content: flex-start; }

.justify--flex-end {
  justify-content: flex-end; }

.justify--center {
  justify-content: center; }

.justify--space-between {
  justify-content: space-between; }

.justify--space-around {
  justify-content: space-around; }

.align-items--flex-start {
  align-items: flex-start; }

.align-items--flex-end {
  align-items: flex-end; }

.align-items--center {
  align-items: center; }

.align-items--baseline {
  align-items: baseline; }

.align-items--stretch {
  align-items: stretch; }

.align-content--start {
  align-content: flex-start; }

.align-content--end {
  align-content: flex-end; }

.align-content--center {
  align-content: center; }

.align-content--between {
  align-content: space-between; }

.align-content--around {
  align-content: space-around; }

.flex-basis {
  flex-basis: 70px; }

.flex-basis2 {
  flex-basis: 200px; }

@media screen and (max-width: 800px) {
  body {
    background: pink; } }
